<launch>
  <!-- 可配置参数 -->
  <arg name="node_id" default="0"/>
  <arg name="port_name" default="/dev/ttyCH343USB0"/>
  <arg name="baud_rate" default="921600"/>

  <node pkg="nlink_parser" type="linktrack" name="linktrack$(arg node_id)" output="screen">
    <param name="port_name" value="$(arg port_name)" />
    <param name="baud_rate" value="$(arg baud_rate)" />

    <!-- 动态话题重映射 -->
    <remap from="/nlink_linktrack_nodeframe2" to="/uwb$(arg node_id)/nodeframe2" />
    <remap from="/nlink_linktrack_data_transmission" to="/uwb$(arg node_id)/data_transmission" />
    <remap from="/nlink_linktrack_nodeframe0" to="/uwb$(arg node_id)/nodeframe0" />
  </node>
</launch>
