<launch>
    <!-- 启动MDS解算节点 -->
    <node pkg="distance" type="MDS_4_relative.py" name="mds_solver" output="screen">
        <param name="frame_id" type="string" value="map" />
    </node>

    <!-- 启动预配置的RViz -->
    <node pkg="rviz" type="rviz" name="uwb_rviz" args="-d $(find distance)/config/uwb_display.rviz">
        <!-- 自动保存配置到指定路径 -->
        <param name="perspective" type="string" value="$(find distance)/config/uwb_display.rviz"/>
    </node>
</launch>
