<launch>
  <param name="rosconsole_config_file" value="$(find distance)/config/rosconsole.config"/>
  <!-- 机器个数 -->
  <arg name="total_nodes" default="4"/>
  <!-- INFO频率：Hz -->
  <arg name="matrix_print_rate" default="1.0"/>
  <!-- 发布频率：Hz -->
  <arg name="matrix_publish_rate" default="30.0"/>
  <!-- 激发更新需要的节点个数 -->
  <arg name="required_nodes" default="3"/>
  <!-- 过滤距离 -->
  <arg name="distance_diff_threshold" value="2.4" />

  <node pkg="distance" type="uwb_matrix_ros" name="uwb_node_0" output="screen">
    <param name="node_id" value="0"/>
    <param name="total_nodes" value="$(arg total_nodes)"/>
    <param name="matrix_print_rate" value="$(arg matrix_print_rate)"/>
    <param name="matrix_publish_rate" value="$(arg matrix_publish_rate)"/>  
    <param name="required_nodes" value="$(arg required_nodes)" />
    <param name="distance_diff_threshold" value="$(arg distance_diff_threshold)" />
    <param name="odom_topic" value="/Odometry" />
    <param name="target_topic" value="/vrpn_client_node/Mark2/pose"/>
  </node>

  <node pkg="distance" type="uwb_matrix_ros" name="uwb_node_1" output="screen">
    <param name="node_id" value="1"/>
    <param name="total_nodes" value="$(arg total_nodes)"/>
    <param name="matrix_print_rate" value="$(arg matrix_print_rate)"/>
    <param name="matrix_publish_rate" value="$(arg matrix_publish_rate)"/>  
    <param name="required_nodes" value="$(arg required_nodes)" />
    <param name="distance_diff_threshold" value="$(arg distance_diff_threshold)" />
    <param name="odom_topic" value="/odom1" />
    <param name="target_topic" value="/vrpn_client_node/UAV_exploration450/pose"/>
  </node>

  <node pkg="distance" type="uwb_matrix_ros" name="uwb_node_2" output="screen">
    <param name="node_id" value="2"/>
    <param name="total_nodes" value="$(arg total_nodes)"/>
    <param name="matrix_print_rate" value="$(arg matrix_print_rate)"/>
    <param name="matrix_publish_rate" value="$(arg matrix_publish_rate)"/>  
    <param name="required_nodes" value="$(arg required_nodes)" />
    <param name="distance_diff_threshold" value="$(arg distance_diff_threshold)" />
    <param name="odom_topic" value="/odom2" />
    <param name="target_topic" value="/uwb2/target_position"/>
  </node>
  
  <node pkg="distance" type="uwb_matrix_ros" name="uwb_node_3" output="screen">
    <param name="node_id" value="3"/>
    <param name="total_nodes" value="$(arg total_nodes)"/>
    <param name="matrix_print_rate" value="$(arg matrix_print_rate)"/>
    <param name="matrix_publish_rate" value="$(arg matrix_publish_rate)"/>  
    <param name="required_nodes" value="$(arg required_nodes)" />
    <param name="distance_diff_threshold" value="$(arg distance_diff_threshold)" />
    <param name="odom_topic" value="/odom3" />
    <param name="target_topic" value="/uwb3/target_position"/>
  </node>
  
  <!-- <node pkg="distance" type="uwb_matrix_ros" name="uwb_node_4" output="screen">
    <param name="node_id" value="4"/>
    <param name="total_nodes" value="$(arg total_nodes)"/>
    <param name="matrix_print_rate" value="$(arg matrix_print_rate)"/>
    <param name="matrix_publish_rate" value="$(arg matrix_publish_rate)"/>  
    <param name="required_nodes" value="$(arg required_nodes)" />
    <param name="distance_diff_threshold" value="$(arg distance_diff_threshold)" />
  </node> -->

  <!-- <node pkg="distance" type="uwb_matrix_ros" name="uwb_node_5" output="screen">
    <param name="node_id" value="5"/>
    <param name="total_nodes" value="$(arg total_nodes)"/>
    <param name="matrix_print_rate" value="$(arg matrix_print_rate)"/>
    <param name="matrix_publish_rate" value="$(arg matrix_publish_rate)"/>  
    <param name="required_nodes" value="$(arg required_nodes)" />
    <param name="distance_diff_threshold" value="$(arg distance_diff_threshold)" />
  </node> -->

</launch>
